<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" routerLink="/">
            <i class="fas fa-graduation-cap"></i> Gestión de Cursos
        </a>

        <div class="navbar-links">
            <a class="nav-link" routerLink="/cursos" routerLinkActive="active">
                <i class="fas fa-list-ul"></i> Ver Cursos
            </a>
            <a class="nav-link" routerLink="crear-curso" routerLinkActive="active">
                <i class="fas fa-plus-circle"></i> Crear Curso
            </a>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
                <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
            </a>
            <a class="nav-link" routerLink="/registro" routerLinkActive="active">
                <i class="fas fa-user-plus"></i> Registrarse
            </a>
            <button class="logout-btn">
                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
            </button>
        </div>
    </div>
</nav>