/* You can add global styles to this file, and also import other style files */
/* Estilos globales */
:root {
    --primary-color: #002366;
    --primary-light: #a3c1ff;
    --secondary-color: #ffffff;
    --text-color: #333333;
    --light-gray: #f8f9fa;
    --border-color: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--light-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}


.horas-text {
    font-weight: 500;
    color: var(--primary-color);
}